@mixin colors ($text,$bg,$border-size,$c-border){
    color: $text;
    background-color: $bg;
    border: $border-size solid $c-border;
}

@mixin titulos ($size,$cshadow){
    h1{
        font-size: $size;
        font-family: $ftitulos;
        text-shadow: 0 0 5px $cshadow;
        text-transform: uppercase;
    }
    h2{
        font-size: calc($size - 0.3em);
        font-family: $ftitulos;
        text-shadow: 0 0 5px $cshadow;
        text-transform: uppercase;
    }
    h3{
        font-size: calc($size - 0.5em);
        text-shadow: 0 0 10px $cshadow;
        text-transform: uppercase;
    }
}

@mixin animacionScale {
    filter: grayscale(0%);
    box-shadow: 0 0 5px $c-tertary;
    transform: scale(1.02);
    transition: all 1s;
}

@mixin shine {
    color: $c-tertary;
    text-shadow: 0 0 10px $c-tertary;
    transition: all 1s;
}