.fontDavid{
    font-family: 'David Libre', serif;
}

.bg-verde{
    background-color: $c-primary;
}
.bg-gris{
    background-color: $c-secondary;
}
.bg-amarillo{
    background-color: $c-tertary;
}
.t-verde{
    color: $c-primary;
}
.t-gris{
    color: $c-secondary;
}
.t-amarillo{
    color: $c-tertary;
}

.titulos{
    @include colors ($c-tertary,none,0,none);
    @include titulos (1.5em, black);
    
    @media only screen and (min-width:768px){
        @include titulos (2em, black);
    }
}