.card{
    @include colors ($c-secondary,$c-tertary,2px,$c-primary);
    box-shadow: 0 0 5px white;

    &:hover{
        @include animacionScale;
        box-shadow: 0 0 10px white, 0 0 10px white;
    }

    .card-img-top{
        height: 230px;
        object-fit: cover;
    }

    .list-group-item{
        background-color: $c-tertary;
        border-color: $c-secondary;
    }

    .card-title{
        font-weight: bold;
        text-shadow: 0 0 5px $c-primary;
        font-size: 1.2em;
    }

    .card-subtitle{
        font-weight: bold;
        font-size: 1em;
    }
}