form {
    .form-floating input:focus,.form-floating textarea:focus{
        box-shadow: 0 0 8px $c-primary
    }

    .btn{
        @include colors ($c-primary,none,1px,$c-primary);

    &:hover{
        @include colors ($c-secondary,$c-primary,1px,$c-primary);
        background-image: linear-gradient(to right, #62ff8e,#ecf1ce);
        }
    }
}

#mensaje{
    resize: none;
    height: 150px;
}
