.navbar{
    @include colors ($c-secondary,$c-primary,0,none);

    box-shadow: 0 0 5px white;
    position: fixed;
    width: 100vw;
    z-index: 3;

    .navbar-brand{
        img{
            width: auto;
            height: 70px;
        }
    } 
}
.navbar-nav{
    .nav-link{
        color: $c-secondary;
        font-weight: bold;
    }
    .nav-item{
        margin-left: 30px;
        border-radius: 10px;
        &:hover{
            @include colors ($c-primary,$c-secondary,0,none);
            border-radius: 10px;
        }
        a:hover{
            color: $c-primary;
        }

        .dropdown-menu a{
            color: $c-tertary;
        }
        .dropdown-menu a:hover{
            @include colors ($c-primary,$c-secondary,0,none);
        }
    }
}